.home-container {
  padding: 40px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-right {
  border-right: 1px solid gray;
}

.result-gif {
  padding-top: 20px;
}

.img-max {
  max-width: 100%;
}

.p-b-20 {
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.main-button {
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 15px;
  background-image: url('../../assets/nav-background.jpg');
  background-position: 45% 29%;
  color: white;
  text-transform: uppercase;
}

.main-button:disabled {
  opacity: .5;
}
